# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:convex-db-123 # team: e-dev, project: class-attendance
NEXT_PUBLIC_CONVEX_URL=https://convex-db-123.eu-west-1.convex.cloud
NEXT_PUBLIC_CONVEX_SITE_URL=https://convex-db-123.eu-west-1.convex.site
SETUP_SCRIPT_RAN=1

APP_LOGO_ID=your-logo-url

EMAIL_FROM=ASys <noreply@asys.com>

AUTH_RESEND_KEY=your-resend-key

BASE_URL=http://localhost:3000
